World(
    spheres: [
        (
            Vec3(
                x: 1.0,
                y: 0.0,
                z: 0.0,
            ),
            0.5,
            Color((255, 0, 0)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.0,
                z: 0.25,
            ),
            0.5,
            Color((255, 0, 0)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.0,
                z: 0.5,
            ),
            0.5,
            Color((255, 0, 0)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.2,
                z: -0.4,
            ),
            0.18,
            Color((255, 0, 0)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.2,
                z: -0.58,
            ),
            0.18,
            Color((255, 0, 0)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.2,
                z: -0.4,
            ),
            0.18,
            Color((255, 0, 0)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.2,
                z: -0.58,
            ),
            0.18,
            Color((255, 0, 0)),
        ),
        (
            Vec3(
                x: 0.5,
                y: -0.1,
                z: 0.5,
            ),
            0.15,
            Color((0, 255, 255)),
        ),
        (
            Vec3(
                x: 0.5,
                y: 0.0,
                z: 0.5,
            ),
            0.15,
            Color((0, 255, 255)),
        ),
        (
            Vec3(
                x: 0.5,
                y: 0.1,
                z: 0.5,
            ),
            0.15,
            Color((0, 255, 255)),
        ),
    ],
    tris: [],
    light: Vec3(
        x: 0.2,
        y: 0.0,
        z: 1.5,
    ),
)
