World(
    spheres: [
        (
            Vec3(
                x: 1.0,
                y: 0.0,
                z: -0.561,
            ),
            0.045,
            "blue",
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.24,
                z: -0.561,
            ),
            0.045,
            "blue",
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.24,
                z: -0.561,
            ),
            0.045,
            "blue",
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.12,
                z: -0.356,
            ),
            0.045,
            "blue",
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.12,
                z: -0.356,
            ),
            0.045,
            "blue",
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.36,
                z: -0.356,
            ),
            0.045,
            "blue",
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.36,
                z: -0.356,
            ),
            0.045,
            "blue",
        ),

        (
            Vec3(
                x: 1.0,
                y: 0.0,
                z: 0.561,
            ),
            0.045,
            "red",
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.24,
                z: 0.561,
            ),
            0.045,
            "red",
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.24,
                z: 0.561,
            ),
            0.045,
            "red",
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.12,
                z: 0.356,
            ),
            0.045,
            "red",
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.12,
                z: 0.356,
            ),
            0.045,
            "red",
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.36,
                z: 0.356,
            ),
            0.045,
            "red",
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.36,
                z: 0.356,
            ),
            0.045,
            "red",
        ),
    ],
    tris: [
        // Row 0
        (
            Vec3(
                x: 1.0,
                y: 0.0,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: -0.12,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.12,
                z: 0.21,
            ),
            "white",
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.12,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.24,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: 0.0,
                z: 0.0,
            ),
            "dark_grey",
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.12,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.0,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: -0.24,
                z: 0.0,
            ),
            "dark_grey",
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.24,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: 0.12,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.36,
                z: 0.21,
            ),
            "white",
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.24,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: -0.36,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.12,
                z: 0.21,
            ),
            "white",
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.36,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.48,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: 0.24,
                z: 0.0,
            ),
            "dark_grey",
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.36,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.24,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: -0.48,
                z: 0.0,
            ),
            "dark_grey",
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.48,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: 0.36,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.60,
                z: 0.21,
            ),
            "white",
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.48,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: -0.60,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.36,
                z: 0.21,
            ),
            "white",
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.60,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.72,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: 0.48,
                z: 0.0,
            ),
            "dark_grey",
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.60,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.48,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: -0.72,
                z: 0.0,
            ),
            "dark_grey",
        ),

        // Row -1
        (
            Vec3(
                x: 1.0,
                y: 0.0,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: 0.12,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.12,
                z: -0.21,
            ),
            "dark_grey",
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.12,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.0,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: 0.24,
                z: 0.0,
            ),
            "white",
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.12,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.24,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: 0.0,
                z: 0.0,
            ),
            "white",
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.24,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: 0.36,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.12,
                z: -0.21,
            ),
            "dark_grey",
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.24,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: -0.12,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.36,
                z: -0.21,
            ),
            "dark_grey",
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.36,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.24,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: 0.48,
                z: 0.0,
            ),
            "white",
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.36,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.48,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: -0.24,
                z: 0.0,
            ),
            "white",
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.48,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: 0.60,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.36,
                z: -0.21,
            ),
            "dark_grey",
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.48,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: -0.36,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.60,
                z: -0.21,
            ),
            "dark_grey",
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.60,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.48,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: 0.72,
                z: 0.0,
            ),
            "white",
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.60,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.72,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: -0.48,
                z: 0.0,
            ),
            "white",
        ),

        // Row 1
        (
            Vec3(
                x: 1.0,
                y: 0.0,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.12,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.12,
                z: 0.21,
            ),
            "dark_grey",
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.12,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.0,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.24,
                z: 0.42,
            ),
            "white",
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.12,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.24,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.0,
                z: 0.42,
            ),
            "white",
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.24,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.36,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.12,
                z: 0.21,
            ),
            "dark_grey",
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.24,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: -0.12,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.36,
                z: 0.21,
            ),
            "dark_grey",
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.36,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.24,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.48,
                z: 0.42,
            ),
            "white",
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.36,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.48,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: -0.24,
                z: 0.42,
            ),
            "white",
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.48,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.60,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.36,
                z: 0.21,
            ),
            "dark_grey",
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.48,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: -0.36,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.60,
                z: 0.21,
            ),
            "dark_grey",
        ),

        // Row -2
        (
            Vec3(
                x: 1.0,
                y: 0.0,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: -0.12,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.12,
                z: -0.21,
            ),
            "white",
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.12,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.24,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.0,
                z: -0.42,
            ),
            "dark_grey",
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.12,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.0,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: -0.24,
                z: -0.42,
            ),
            "dark_grey",
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.24,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.12,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.36,
                z: -0.21,
            ),
            "white",
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.24,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: -0.36,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.12,
                z: -0.21,
            ),
            "white",
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.36,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.48,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.24,
                z: -0.42,
            ),
            "dark_grey",
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.36,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.24,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: -0.48,
                z: -0.42,
            ),
            "dark_grey",
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.48,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.36,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.60,
                z: -0.21,
            ),
            "white",
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.48,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: -0.60,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.36,
                z: -0.21,
            ),
            "white",
        ),

        // Row 2
        (
            Vec3(
                x: 1.0,
                y: 0.0,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: -0.12,
                z: 0.63,
            ),
            Vec3(
                x: 1.0,
                y: 0.12,
                z: 0.63,
            ),
            "white",
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.12,
                z: 0.63,
            ),
            Vec3(
                x: 1.0,
                y: 0.24,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.0,
                z: 0.42,
            ),
            "dark_grey",
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.12,
                z: 0.63,
            ),
            Vec3(
                x: 1.0,
                y: 0.0,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: -0.24,
                z: 0.42,
            ),
            "dark_grey",
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.24,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.12,
                z: 0.63,
            ),
            Vec3(
                x: 1.0,
                y: 0.36,
                z: 0.63,
            ),
            "white",
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.24,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: -0.36,
                z: 0.63,
            ),
            Vec3(
                x: 1.0,
                y: -0.12,
                z: 0.63,
            ),
            "white",
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.36,
                z: 0.63,
            ),
            Vec3(
                x: 1.0,
                y: 0.48,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.24,
                z: 0.42,
            ),
            "dark_grey",
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.36,
                z: 0.63,
            ),
            Vec3(
                x: 1.0,
                y: -0.24,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: -0.48,
                z: 0.42,
            ),
            "dark_grey",
        ),

        // Row -3
        (
            Vec3(
                x: 1.0,
                y: 0.0,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.12,
                z: -0.63,
            ),
            Vec3(
                x: 1.0,
                y: -0.12,
                z: -0.63,
            ),
            "dark_grey",
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.12,
                z: -0.63,
            ),
            Vec3(
                x: 1.0,
                y: 0.0,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.24,
                z: -0.42,
            ),
            "white",
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.12,
                z: -0.63,
            ),
            Vec3(
                x: 1.0,
                y: -0.24,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.0,
                z: -0.42,
            ),
            "white",
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.24,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.36,
                z: -0.63,
            ),
            Vec3(
                x: 1.0,
                y: 0.12,
                z: -0.63,
            ),
            "dark_grey",
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.24,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: -0.12,
                z: -0.63,
            ),
            Vec3(
                x: 1.0,
                y: -0.36,
                z: -0.63,
            ),
            "dark_grey",
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.36,
                z: -0.63,
            ),
            Vec3(
                x: 1.0,
                y: 0.24,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.48,
                z: -0.42,
            ),
            "white",
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.36,
                z: -0.63,
            ),
            Vec3(
                x: 1.0,
                y: -0.48,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: -0.24,
                z: -0.42,
            ),
            "white",
        ),
    ],
)
