World(
    spheres: [
        (
            Vec3(
                x: 1.0,
                y: 0.0,
                z: -0.561,
            ),
            0.045,
            Color((0, 0, 255)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.24,
                z: -0.561,
            ),
            0.045,
            Color((0, 0, 255)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.24,
                z: -0.561,
            ),
            0.045,
            Color((0, 0, 255)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.12,
                z: -0.356,
            ),
            0.045,
            Color((0, 0, 255)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.12,
                z: -0.356,
            ),
            0.045,
            Color((0, 0, 255)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.36,
                z: -0.356,
            ),
            0.045,
            Color((0, 0, 255)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.36,
                z: -0.356,
            ),
            0.045,
            Color((0, 0, 255)),
        ),

        (
            Vec3(
                x: 1.0,
                y: 0.0,
                z: 0.561,
            ),
            0.045,
            Color((255, 0, 0)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.24,
                z: 0.561,
            ),
            0.045,
            Color((255, 0, 0)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.24,
                z: 0.561,
            ),
            0.045,
            Color((255, 0, 0)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.12,
                z: 0.356,
            ),
            0.045,
            Color((255, 0, 0)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.12,
                z: 0.356,
            ),
            0.045,
            Color((255, 0, 0)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.36,
                z: 0.356,
            ),
            0.045,
            Color((255, 0, 0)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.36,
                z: 0.356,
            ),
            0.045,
            Color((255, 0, 0)),
        ),
    ],
    tris: [
        // Row 0
        (
            Vec3(
                x: 1.0,
                y: 0.0,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: -0.12,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.12,
                z: 0.21,
            ),
            Color((255, 255, 255)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.12,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.24,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: 0.0,
                z: 0.0,
            ),
            Color((90, 90, 90)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.12,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.0,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: -0.24,
                z: 0.0,
            ),
            Color((90, 90, 90)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.24,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: 0.12,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.36,
                z: 0.21,
            ),
            Color((255, 255, 255)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.24,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: -0.36,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.12,
                z: 0.21,
            ),
            Color((255, 255, 255)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.36,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.48,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: 0.24,
                z: 0.0,
            ),
            Color((90, 90, 90)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.36,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.24,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: -0.48,
                z: 0.0,
            ),
            Color((90, 90, 90)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.48,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: 0.36,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.60,
                z: 0.21,
            ),
            Color((255, 255, 255)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.48,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: -0.60,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.36,
                z: 0.21,
            ),
            Color((255, 255, 255)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.60,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.72,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: 0.48,
                z: 0.0,
            ),
            Color((90, 90, 90)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.60,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.48,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: -0.72,
                z: 0.0,
            ),
            Color((90, 90, 90)),
        ),

        // Row -1
        (
            Vec3(
                x: 1.0,
                y: 0.0,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: 0.12,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.12,
                z: -0.21,
            ),
            Color((90, 90, 90)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.12,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.0,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: 0.24,
                z: 0.0,
            ),
            Color((255, 255, 255)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.12,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.24,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: 0.0,
                z: 0.0,
            ),
            Color((255, 255, 255)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.24,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: 0.36,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.12,
                z: -0.21,
            ),
            Color((90, 90, 90)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.24,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: -0.12,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.36,
                z: -0.21,
            ),
            Color((90, 90, 90)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.36,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.24,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: 0.48,
                z: 0.0,
            ),
            Color((255, 255, 255)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.36,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.48,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: -0.24,
                z: 0.0,
            ),
            Color((255, 255, 255)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.48,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: 0.60,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.36,
                z: -0.21,
            ),
            Color((90, 90, 90)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.48,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: -0.36,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.60,
                z: -0.21,
            ),
            Color((90, 90, 90)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.60,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.48,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: 0.72,
                z: 0.0,
            ),
            Color((255, 255, 255)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.60,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.72,
                z: 0.0,
            ),
            Vec3(
                x: 1.0,
                y: -0.48,
                z: 0.0,
            ),
            Color((255, 255, 255)),
        ),

        // Row 1
        (
            Vec3(
                x: 1.0,
                y: 0.0,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.12,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.12,
                z: 0.21,
            ),
            Color((90, 90, 90)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.12,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.0,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.24,
                z: 0.42,
            ),
            Color((255, 255, 255)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.12,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.24,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.0,
                z: 0.42,
            ),
            Color((255, 255, 255)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.24,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.36,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.12,
                z: 0.21,
            ),
            Color((90, 90, 90)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.24,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: -0.12,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.36,
                z: 0.21,
            ),
            Color((90, 90, 90)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.36,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.24,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.48,
                z: 0.42,
            ),
            Color((255, 255, 255)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.36,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.48,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: -0.24,
                z: 0.42,
            ),
            Color((255, 255, 255)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.48,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.60,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.36,
                z: 0.21,
            ),
            Color((90, 90, 90)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.48,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: -0.36,
                z: 0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.60,
                z: 0.21,
            ),
            Color((90, 90, 90)),
        ),

        // Row -2
        (
            Vec3(
                x: 1.0,
                y: 0.0,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: -0.12,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.12,
                z: -0.21,
            ),
            Color((255, 255, 255)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.12,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.24,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.0,
                z: -0.42,
            ),
            Color((90, 90, 90)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.12,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.0,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: -0.24,
                z: -0.42,
            ),
            Color((90, 90, 90)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.24,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.12,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.36,
                z: -0.21,
            ),
            Color((255, 255, 255)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.24,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: -0.36,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.12,
                z: -0.21,
            ),
            Color((255, 255, 255)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.36,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.48,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.24,
                z: -0.42,
            ),
            Color((90, 90, 90)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.36,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.24,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: -0.48,
                z: -0.42,
            ),
            Color((90, 90, 90)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.48,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.36,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: 0.60,
                z: -0.21,
            ),
            Color((255, 255, 255)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.48,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: -0.60,
                z: -0.21,
            ),
            Vec3(
                x: 1.0,
                y: -0.36,
                z: -0.21,
            ),
            Color((255, 255, 255)),
        ),

        // Row 2
        (
            Vec3(
                x: 1.0,
                y: 0.0,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: -0.12,
                z: 0.63,
            ),
            Vec3(
                x: 1.0,
                y: 0.12,
                z: 0.63,
            ),
            Color((255, 255, 255)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.12,
                z: 0.63,
            ),
            Vec3(
                x: 1.0,
                y: 0.24,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.0,
                z: 0.42,
            ),
            Color((90, 90, 90)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.12,
                z: 0.63,
            ),
            Vec3(
                x: 1.0,
                y: 0.0,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: -0.24,
                z: 0.42,
            ),
            Color((90, 90, 90)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.24,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.12,
                z: 0.63,
            ),
            Vec3(
                x: 1.0,
                y: 0.36,
                z: 0.63,
            ),
            Color((255, 255, 255)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.24,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: -0.36,
                z: 0.63,
            ),
            Vec3(
                x: 1.0,
                y: -0.12,
                z: 0.63,
            ),
            Color((255, 255, 255)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.36,
                z: 0.63,
            ),
            Vec3(
                x: 1.0,
                y: 0.48,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.24,
                z: 0.42,
            ),
            Color((90, 90, 90)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.36,
                z: 0.63,
            ),
            Vec3(
                x: 1.0,
                y: -0.24,
                z: 0.42,
            ),
            Vec3(
                x: 1.0,
                y: -0.48,
                z: 0.42,
            ),
            Color((90, 90, 90)),
        ),

        // Row -3
        (
            Vec3(
                x: 1.0,
                y: 0.0,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.12,
                z: -0.63,
            ),
            Vec3(
                x: 1.0,
                y: -0.12,
                z: -0.63,
            ),
            Color((90, 90, 90)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.12,
                z: -0.63,
            ),
            Vec3(
                x: 1.0,
                y: 0.0,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.24,
                z: -0.42,
            ),
            Color((255, 255, 255)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.12,
                z: -0.63,
            ),
            Vec3(
                x: 1.0,
                y: -0.24,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.0,
                z: -0.42,
            ),
            Color((255, 255, 255)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.24,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.36,
                z: -0.63,
            ),
            Vec3(
                x: 1.0,
                y: 0.12,
                z: -0.63,
            ),
            Color((90, 90, 90)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.24,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: -0.12,
                z: -0.63,
            ),
            Vec3(
                x: 1.0,
                y: -0.36,
                z: -0.63,
            ),
            Color((90, 90, 90)),
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.36,
                z: -0.63,
            ),
            Vec3(
                x: 1.0,
                y: 0.24,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: 0.48,
                z: -0.42,
            ),
            Color((255, 255, 255)),
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.36,
                z: -0.63,
            ),
            Vec3(
                x: 1.0,
                y: -0.48,
                z: -0.42,
            ),
            Vec3(
                x: 1.0,
                y: -0.24,
                z: -0.42,
            ),
            Color((255, 255, 255)),
        ),
    ],
    light: Vec3(
        x: 0.0,
        y: 0.0,
        z: 1.0,
    ),
)
