World(
    objects: [
        // Blue (-x)
        Triangle(
            Vec3(
                x: 1.0,
                y: 0.5,
                z: -0.5,
            ),
            Vec3(
                x: 1.0,
                y: -0.5,
                z: -0.5,
            ),
            Vec3(
                x: 1.0,
                y: 0.5,
                z: 0.5,
            ),
            Color((0, 0, 255)),
        ),
        Triangle(
            Vec3(
                x: 1.0,
                y: -0.5,
                z: -0.5,
            ),
            Vec3(
                x: 1.0,
                y: -0.5,
                z: 0.5,
            ),
            Vec3(
                x: 1.0,
                y: 0.5,
                z: 0.5,
            ),
            Color((0, 0, 255)),
        ),

        // Orange (-y)
        Triangle(
            Vec3(
                x: 1.0,
                y: -0.5,
                z: -0.5,
            ),
            Vec3(
                x: 2.0,
                y: -0.5,
                z: -0.5,
            ),
            Vec3(
                x: 1.0,
                y: -0.5,
                z: 0.5,
            ),
            Color((255, 165, 0)),
        ),
        Triangle(
            Vec3(
                x: 2.0,
                y: -0.5,
                z: -0.5,
            ),
            Vec3(
                x: 2.0,
                y: -0.5,
                z: 0.5,
            ),
            Vec3(
                x: 1.0,
                y: -0.5,
                z: 0.5,
            ),
            Color((255, 165, 0)),
        ),

        // White (+z)
        Triangle(
            Vec3(
                x: 1.0,
                y: 0.5,
                z: 0.5,
            ),
            Vec3(
                x: 1.0,
                y: -0.5,
                z: 0.5,
            ),
            Vec3(
                x: 2.0,
                y: 0.5,
                z: 0.5,
            ),
            Color((255, 255, 255)),
        ),
        Triangle(
            Vec3(
                x: 1.0,
                y: -0.5,
                z: 0.5,
            ),
            Vec3(
                x: 2.0,
                y: -0.5,
                z: 0.5,
            ),
            Vec3(
                x: 2.0,
                y: 0.5,
                z: 0.5,
            ),
            Color((255, 255, 255)),
        ),

        // Green (+x)
        Triangle(
            Vec3(
                x: 2.0,
                y: 0.5,
                z: -0.5,
            ),
            Vec3(
                x: 2.0,
                y: 0.5,
                z: 0.5,
            ),
            Vec3(
                x: 2.0,
                y: -0.5,
                z: -0.5,
            ),
            Color((0, 255, 0)),
        ),
        Triangle(
            Vec3(
                x: 2.0,
                y: -0.5,
                z: -0.5,
            ),
            Vec3(
                x: 2.0,
                y: 0.5,
                z: 0.5,
            ),
            Vec3(
                x: 2.0,
                y: -0.5,
                z: 0.5,
            ),
            Color((0, 255, 0)),
        ),

        // Red (+y)
        Triangle(
            Vec3(
                x: 1.0,
                y: 0.5,
                z: -0.5,
            ),
            Vec3(
                x: 1.0,
                y: 0.5,
                z: 0.5,
            ),
            Vec3(
                x: 2.0,
                y: 0.5,
                z: -0.5,
            ),
            Color((255, 0, 0)),
        ),
        Triangle(
            Vec3(
                x: 2.0,
                y: 0.5,
                z: -0.5,
            ),
            Vec3(
                x: 1.0,
                y: 0.5,
                z: 0.5,
            ),
            Vec3(
                x: 2.0,
                y: 0.5,
                z: 0.5,
            ),
            Color((255, 0, 0)),
        ),

        // Yellow (-z)
        Triangle(
            Vec3(
                x: 1.0,
                y: 0.5,
                z: -0.5,
            ),
            Vec3(
                x: 2.0,
                y: 0.5,
                z: -0.5,
            ),
            Vec3(
                x: 1.0,
                y: -0.5,
                z: -0.5,
            ),
            Color((255, 255, 0)),
        ),
        Triangle(
            Vec3(
                x: 1.0,
                y: -0.5,
                z: -0.5,
            ),
            Vec3(
                x: 2.0,
                y: 0.5,
                z: -0.5,
            ),
            Vec3(
                x: 2.0,
                y: -0.5,
                z: -0.5,
            ),
            Color((255, 255, 0)),
        ),

        // Floor
        Triangle(
            Vec3(
                x: -50.0,
                y: 50.0,
                z: -1.0,
            ),
            Vec3(
                x: -50.0,
                y: -50.0,
                z: -1.0,
            ),
            Vec3(
                x: 50.0,
                y: 50.0,
                z: -1.0,
            ),
            Color((200, 200, 200)),
        ),
        Triangle(
            Vec3(
                x: -50.0,
                y: -50.0,
                z: -1.0,
            ),
            Vec3(
                x: 50.0,
                y: -50.0,
                z: -1.0,
            ),
            Vec3(
                x: 50.0,
                y: 50.0,
                z: -1.0,
            ),
            Color((200, 200, 200)),
        ),
    ],
    light: Vec3(
        x: 0.0,
        y: -1.0,
        z: 1.0,
    ),
)
