World(
    objects: [
        Sphere(
            Vec3(
                x: 7.0,
                y: 0.0,
                z: 4.0,
            ),
            1.0,
            Color((255, 0, 0)),
        ),
        Sphere(
            Vec3(
                x: 7.0,
                y: 0.0,
                z: -4.0,
            ),
            1.0,
            Color((255, 0, 0)),
        ),
        Sphere(
            Vec3(
                x: 1.0,
                y: -0.5,
                z: 0.0,
            ),
            0.2,
            Color((0, 0, 255)),
        ),
        Sphere(
            Vec3(
                x: 1.0,
                y: 0.5,
                z: 0.0,
            ),
            0.2,
            Color((255, 255, 0)),
        ),
        Sphere(
            Vec3(
                x: 2.0,
                y: -0.5,
                z: 0.0,
            ),
            0.2,
            Color((255, 255, 0)),
        ),
        Sphere(
            Vec3(
                x: 2.0,
                y: 0.5,
                z: 0.0,
            ),
            0.2,
            Color((0, 0, 255)),
        ),
        Sphere(
            Vec3(
                x: 3.0,
                y: -0.5,
                z: 0.0,
            ),
            0.2,
            Color((0, 0, 255)),
        ),
        Sphere(
            Vec3(
                x: 3.0,
                y: 0.5,
                z: 0.0,
            ),
            0.2,
            Color((255, 255, 0)),
        ),
        Sphere(
            Vec3(
                x: 4.5,
                y: -0.7,
                z: 0.0,
            ),
            0.4,
            Color((0, 255, 0)),
        ),
        Sphere(
            Vec3(
                x: 4.5,
                y: 0.7,
                z: 0.0,
            ),
            0.4,
            Color((0, 255, 0)),
        ),
    ],
    light: Vec3(
        x: 2.0,
        y: 0.0,
        z: 3.0
    ),
)
