World(
    spheres: [
        (
            Vec3(
                x: 7.0,
                y: 0.0,
                z: 4.0,
            ),
            1.0,
            "red",
        ),
        (
            Vec3(
                x: 7.0,
                y: 0.0,
                z: -4.0,
            ),
            1.0,
            "red",
        ),
        (
            Vec3(
                x: 1.0,
                y: -0.5,
                z: 0.0,
            ),
            0.2,
            "blue",
        ),
        (
            Vec3(
                x: 1.0,
                y: 0.5,
                z: 0.0,
            ),
            0.2,
            "yellow",
        ),
        (
            Vec3(
                x: 2.0,
                y: -0.5,
                z: 0.0,
            ),
            0.2,
            "yellow",
        ),
        (
            Vec3(
                x: 2.0,
                y: 0.5,
                z: 0.0,
            ),
            0.2,
            "blue",
        ),
        (
            Vec3(
                x: 3.0,
                y: -0.5,
                z: 0.0,
            ),
            0.2,
            "blue",
        ),
        (
            Vec3(
                x: 3.0,
                y: 0.5,
                z: 0.0,
            ),
            0.2,
            "yellow",
        ),
        (
            Vec3(
                x: 4.5,
                y: -0.7,
                z: 0.0,
            ),
            0.4,
            "green",
        ),
        (
            Vec3(
                x: 4.5,
                y: 0.7,
                z: 0.0,
            ),
            0.4,
            "green",
        ),
    ],
    tris: [
        (
            Vec3(
                x: 8.0,
                y: -0.1,
                z: -0.1,
            ),
            Vec3(
                x: 8.0,
                y: 0.1,
                z: -0.1,
            ),
            Vec3(
                x: 8.2,
                y: 0.0,
                z: 0.2,
            ),
            "magenta",
        ),
    ],
)
